*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #20bff1;
    --secondary-color: #e2e2e2;
    --primary-bg-color: #161817;
    --secondary-bg-color: #1e201f;
    
}
@font-face {

    font-family: "Futura HV BT", sans-serif ;
    src: url(../fonts/FutuHv.ttf) ;

    font-family: 'Futura Md BT';
    src: url('../Futura-Md-BT-Font/FutuBd.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuBdIt.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuMd.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuMdIt.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaBoldBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaBoldItalicBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaMediumBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaMediumItalicBT.ttf') format('ttf'),

        /* Add more src declarations for other font formats if necessary */
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../Futura-Hv-BT/FutuHv.ttf') format('ttf'),
        url('../Futura-Hv-BT/FutuHvIt.ttf') format('ttf'),
        url('../Futura-Hv-BT/FuturaHeavyBT.ttf') format('ttf'),
        url('../Futura-Hv-BT/FuturaHeavyItalicBT.ttf') format('ttf'),
        url('../Futura-Hv-BT/futurahi.ttf') format('ttf'),



}

/* navbar */


.nav-text a{
    font-family: Futura;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10%;
    line-height: 24px;
    color: #a3a6a7;
    background: transparent !important;  
}

.nav-item .nav-link.active{
    color: #fff ;
}
.my-nav{
    z-index: 3000 !important;
}
@media (max-width:992px){
    .my-nav{
        background: var(--secondary-bg-color);
    }
}


/* Style for the top section */
.top-section {
    position: relative;
    background-image: url(../img/servicemainpic.png);
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  }

  
  /* Style for the gradient mask */
  .top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 

  }
    

  .top-heading{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: "Futura HV BT", sans-serif ;
  }

/* Style for the top section */
.top-sectionwall {
    position: relative;
    background-image: url(../img/wallsec1.png);
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  }
  
  /* Style for the gradient mask */
  .top-sectionwall::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 

  }
    

  .top-headingwall{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: "Futura HV BT", sans-serif ;
  }

  .most-popular-section{
    background-color: var(--primary-bg-color);
  }
  .most-popular-heading{
    color: var(--secondary-color);
    font-family: "Futura HV BT" sans-serif;


  }
  .belowText-most-popular{
    color: var(--secondary-color);
    font-family: sans-serif;
  }
.my-custom-card{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    width: 100%;
    border-radius: 15px;
}
.my-card-text{
    font-size: 20px;
    font-weight: 700;
}
.my-card-overlay-btn{
    align-self: center;
    justify-self: center;
}
.overlay-btn {
    padding: 5px 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: #fff;  
}

.quote-section{
    background-image: url(../img/qoutesecmask.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-block: 6rem;
}
.quotes-heading{
    font-size: 35px;
    color: #20bff1;
    font-weight: 700;
    font-family: "Futura HV BT", sans-serif ;
}

.quote-is-here{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.popular-categories-section{
    background-color: var(--secondary-bg-color);

}

.my-custom-card-below{
    background-color: var(--primary-bg-color) !important;

}

.belowCards-overlay-btn{
    
    margin-top: -150px;
    
}
.below-card-new-icon{
    width: 80px;
    height: 80px;
    background-color: #9947e2;
    padding: 20px;
    border-radius: 50%;
}

.below-cards-small{
    font-weight: 600;
}

 

/* *****************service page styling ******************** */


.ecological-top-section{
    position: relative;
    background-image: url(../img/eco-main.png);
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

  /* Style for the gradient mask */
  .ecological-top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 

  }
  .ecological-second-section{
    background-color: var(--secondary-bg-color);
  }
  .seeAll{
    margin-bottom: 2rem;
  }
  
  .seeall-btn{
    padding-inline: 30px;
    padding-block: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color: #20bff1;
    color: #fff;
    

  }
  .eco-popular-categories-section{
    background-color: var(--primary-bg-color);
  }
  .eco-custom-card-below{
    background-color: var(--secondary-bg-color);
  }

  .hardworking-sec{
    background-color: var(--secondary-bg-color);
  }

.my-card-img{
filter: brightness(70%);
-webkit-filter: brightness(70%);
}
/* wall cleaning */
.wallText{
font-family: Futura Hv BT;
font-size: 28px;
font-weight: 400;
line-height: 36px;
text-align: left;
color: #FFFFFFDE;
}
.wallpara{
    font-family: Futura Md BT;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF91;
}
