*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #20bff1;
    --secondary-color: #e2e2e2;
    --primary-bg-color: #161817;
    --secondary-bg-color: #1e201f;
    
}
@font-face {

    font-family: "Futura HV BT", sans-serif ;
    src: url(../fonts/FutuHv.ttf) ;

    font-family: 'Futura Md BT';
    src: url('../Futura-Md-BT-Font/FutuBd.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuBdIt.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuMd.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuMdIt.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaBoldBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaBoldItalicBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaMediumBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaMediumItalicBT.ttf') format('ttf'),

        /* Add more src declarations for other font formats if necessary */
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../Futura-Hv-BT/FutuHv.ttf') format('ttf'),
        url('../Futura-Hv-BT/FutuHvIt.ttf') format('ttf'),
        url('../Futura-Hv-BT/FuturaHeavyBT.ttf') format('ttf'),
        url('../Futura-Hv-BT/FuturaHeavyItalicBT.ttf') format('ttf'),
        url('../Futura-Hv-BT/futurahi.ttf') format('ttf'),



}

/* navbar */


.nav-text a{
    font-family: Futura;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10%;
    line-height: 24px;
    color: #a3a6a7;
    background: transparent !important;  
}

.nav-item .nav-link.active{
    color: #fff ;
}
.my-nav{
    z-index: 3000 !important;
}
@media (max-width:992px){
    .my-nav{
        background: var(--secondary-bg-color);
    }
}


/* Style for the top section */
.top-section {
    position: relative;
    background-image: url(../img/servicemainpic.png);
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  }

  
  /* Style for the gradient mask */
  .top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 

  }
    

  .top-heading{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: "Futura HV BT", sans-serif ;
  }

/* Style for the top section */
.card {
  border: none !important;
  background-color: #1e201f !important;
  border-radius: 12px !important;
  height: 100% !important;
}
.extrapaded{
  padding-bottom: 2.6rem ;
}
.top-sectcomer {
  position: relative;
  background-image: url('../img/comercl.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectstorage {
  position: relative;
  background-image: url('../img/storagemain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectContact {
  position: relative;
  background-image: url('../img/contact-main.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectaboutus {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url('../img/profile-bg.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectlaundry {
  position: relative;
  background-image: url('../img/londrymain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectforelace {
  position: relative;
  background-image: url('../img/forelacemain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectresidental {
  position: relative;
  background-image: url('../img/residentalmain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectecology {
  position: relative;
  background-image: url('../img/ecologymain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectsenitization {
  position: relative;
  background-image: url('../img/senitization.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-secthoder {
  position: relative;
  background-image: url('../img/hodermain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectBiohazard  {
  position: relative;
  background-image: url('../img/Biohazardmain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-secthazmat  {
  position: relative;
  background-image: url('../img/hazmatmain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectjunk {
  position: relative;
  background-image: url('../img/junkmain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
.top-sectPrivacy {
  position: relative;
  background-image: url('../img/privacymain.png');
  background-position: 84%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
/* Style for the top section */
.top-sectioned {
    position: relative;
    background-image: url('../img/mainoffice.png');
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  }
    

  .top-heading{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: "Futura HV BT", sans-serif ;
  }

/* Style for the top section */
.top-sectionwall {
    position: relative;
    background-image: url(../img/wallsec1.png);
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
  }
  
  /* Style for the gradient mask */
  .top-sectionwall::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 

  }
    

  .top-headingwall{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
    font-weight: 700;
    color: var(--secondary-color);
    font-family: "Futura HV BT", sans-serif ;
  }

  .most-popular-section{
    background-color: var(--primary-bg-color);
  }
  .most-popular-heading{
    color: var(--secondary-color);
    font-family: "Futura HV BT" sans-serif;


  }
  .belowText-most-popular{
    color: var(--secondary-color);
    font-family: sans-serif;
  }
.my-custom-card{
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    width: 100%;
    border-radius: 15px;
}
.my-card-text{
    font-size: 20px;
    font-weight: 700;
}
.my-card-overlay-btn{
    align-self: center;
    justify-self: center;
}
.overlay-btn {
    padding: 5px 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: #fff;  
}
.my-card-agained{
  background-color: #161817 !important;
}
.quote-section{
    background-image: url(../img/qoutesecmask.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-block: 6rem;
}
.quotes-heading{
    font-size: 35px;
    color: #20bff1;
    font-weight: 700;
    font-family: "Futura HV BT", sans-serif ;
}

.quote-is-here{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.popular-categories-section{
    background-color: var(--secondary-bg-color);

}

.my-custom-card-below{
    background-color: var(--primary-bg-color) !important;

}

.belowCards-overlay-btn{
    
    margin-top: -150px;
    
}
.below-card-new-icon{
    width: 80px;
    height: 80px;
    background-color: #9947e2;
    padding: 20px;
    border-radius: 50%;
}

.below-cards-small{
    font-weight: 600;
}

 

/* *****************service page styling ******************** */


.ecological-top-section{
    position: relative;
    background-image: url(../img/eco-main.png);
    background-position: 84%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

  /* Style for the gradient mask */
  .ecological-top-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 

  }
  .ecological-second-section{
    background-color: var(--secondary-bg-color);
  }
  .seeAll{
    margin-bottom: 2rem;
  }
  
  .seeall-btn{
    padding-inline: 30px;
    padding-block: 5px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    background-color: #20bff1;
    color: #fff;
    

  }
  .eco-popular-categories-section{
    background-color: var(--primary-bg-color);
  }
  .eco-custom-card-below{
    background-color: var(--secondary-bg-color);
  }

  .hardworking-sec{
    background-color: var(--secondary-bg-color);
  }

.my-card-img{
filter: brightness(70%);
-webkit-filter: brightness(70%);
}
/* wall cleaning */
.wallText{
font-family: Futura Hv BT;
font-size: 28px;
font-weight: 400;
line-height: 36px;
text-align: left;
color: #FFFFFFDE;
}
.wallpara{
    font-family: Futura Md BT;
font-size: 14px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #FFFFFF91;
}


/***** quotes section *****/
.quotes-section {
  color: white;
  background-image:   url('../img/qoutesecmask.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  padding-block: 100px;
  .quotes-img {
    height: 50px;
  }
  .quotes-container h1{
    font-family: Futura Hv BT;
font-size: 40px;
font-style: italic;
font-weight: 400;
line-height: 40px;
text-align: center;
color: #20BFF1;
  }
  .Quotespara{
color: #FFFFFFDE;
font-family: Futura Hv BT;
font-size: 40px;
font-style: italic;
font-weight: 400;
line-height: 50px;
text-align: center;

  }
  .quotes-sub-container {
    position: relative;
    width: 100%;
    z-index: 100;
    opacity: 1;
  }
  .quotes-sub-container::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 0%;
    height: 3.5px;
    width: 43%;
    background-color: rgba(32, 191, 241, 1);
  }
  .quotes-sub-container::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 0%;
    height: 3.5px;
    width: 43%;
    background-color: rgba(32, 191, 241, 1);
  }
  
  .line-display {
    width: 100%;
    height: 3.5px;
    background-color: rgba(32, 191, 241, 1);
    opacity: 1;
    border: none;
  }
}

/***** End quotes section *****/



/***** service section *****/
.service-container-row .slick-prev {
  position: absolute;
  top: -19px;
  left: 0;
  left: 91%;
}
.service-container-row .slick-next {
  position: absolute;
  top: -19px;
  right: 4%;
}
.service-container-row .slick-list {
  /* margin-top: 30px; */
}

/***** End service section *****/
@media (width<1200px) {
  .service-container-row .slick-prev {
    left: 89%;
  }
}
@media (width<768px) {
  .service-container-row .slick-prev {
    left: 88%;
  }
}
@media (width<576px) {
  .service-container-row .slick-prev {
    left: 86%;
  }
}
@media (width<420px) {
  .service-container-row .slick-prev {
    left: 82%;
  }
}
/* about page css */
.abouttext{
  font-family: Futura Md BT;
font-size: 18px;
font-weight: 400;
line-height: 23.97px;
text-align: left;
color: #FFFFFFDE;
}
.Aboutheade{
  color: #FFFFFFDE;
font-family: Futura Hv BT;
font-size: 25px;
font-weight: 400;
line-height: 35.96px;
text-align: left;

}
.Aboutpara{
  font-family: Futura;
font-size: 15px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.05em;
text-align: left;
color: #FFFFFF91;
}
.establiH{
  font-family: Futura Md BT;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
  color:#FFFFFFDE ;
}
.wHytext{
font-family: Futura Hv BT;
font-size: 25px;
font-weight: 400;
line-height: 35.96px;
text-align: center;
color: #FFFFFFDE ;
}
/* privacy policy css */
.PrivacyPtext{
  color: #FFFFFFDE;
  font-family: Futura Md BT;
font-size: 18px;
font-weight: 400;
line-height: 50.71px;
letter-spacing: 0.1em;
}
.LinedH{
  background-color: black !important;
  color: black;
  height: 3px;
}
.PricvayPara{
  font-family: Futura Md BT;
font-size: 14px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFFDE;
}
.PolIcyhead{
  font-family: Futura Md BT;
font-size: 20px;
font-weight: 700;
line-height: 50.71px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFFDE;
}
.additonalText{
  font-family: Futura Hv BT;
font-size: 16px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFFDE;
}
.BaTcolor{
  background-color: #161817 !important;
  border-radius: 10px;
}
/* qoute css */

.bg-header{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url(../img/servicebg.png) no-repeat center;
  background-size: cover;
  width: 100%;
  background-position: center;
  height: 100vh;
}
.main-QoUte{
  height: 90vh;
  display: flex;
  align-items: center;
}  
.main-QoUte h1{
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 69px;
  letter-spacing: 10%;
}
.Qoute-heading{
  font-family: Futura Hv BT;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.96px;
  color: #FFFFFF;
}
.para-qoute{
  font-family: Futura Md BT;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.77px;
  letter-spacing: 0.1em;
  text-align: left;
  color:rgba(255, 255, 255, 0.57);
}
.qoute-btn{
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align:center;
  color: #FFFFFF;
}
.bg-sec{
  background-color:rgba(30, 32, 31, 1);
}
.form-para{
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.58px;
  letter-spacing: 0.1em;
  color:rgba(255, 255, 255, 0.57);

}
.FullBodyc{
  background-color:#161817 !important;
}
.table td{
  background-color: #1E201F !important;
}
.table-bordered{
  border:1px solid #575757 !important;
}
.form-check{
  font-family: Futura;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.78px;
  color: rgba(255, 255, 255, 0.57);
}
.highlight {
  background-color:  #007bff !important;
}
.form-check-input{
  background-color: #1E201F;
  border-color: #575757;
}
.label-text{
  font-family: Futura Md BT;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.97px;
  color: #FFFFFF;
}
.form-select{
  background-color: #161817;
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.18px;
  color:rgba(255, 255, 255, 0.57);
}     
.form-select option{
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.18px;
}
.Qote-input{
  background-color: #161817 !important;
 
}
.form textarea::placeholder,.form input::placeholder{
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.18px;
  color:rgba(255, 255, 255, 0.57);
}

@media (max-width:576px){
  .main-QoUte h1{
      font-size: 30px;
  }
  .bg-header{
      height: 70vh;
  }
  .main-QoUte{
      height: 50vh;
  }
}    
/* OUR SUBSCRIPTION CSS */
.FEATURed{
  font-family: Futura Hv BT;
font-size: 25px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: #FFFFFFDE;
}
.Subideal{
  font-family: Futura Hv BT;
font-size: 25px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #FFFFFF;
}
.Subidealed{
  font-family: Futura Hv BT;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #FFFFFF;
}
.SubranGe{
  font-family: Futura Md BT;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;
}
.SuBserviux{
  font-family: Futura Md BT;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;
}

.Bg_rowColr{
  background: linear-gradient(141.89deg, #8191EF 0%, #E431DA 100%);
border-radius: 15px;
}
.BorderLEFT{
  border-left: 1px solid white ;
}
@media(max-width:992px){
  .BorderLEFT{
    border-left: none;
  }
 
}
@media(max-width:400px){
  .SuBserviux{
    font-size: 14px;
  }
  .Subideal{
  font-size: 18px;
  }
  .SubranGe{
  font-size: 16px;
  }
  .FEATURed{
    font-family: Futura Hv BT;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #FFFFFFDE;
  }
}
.SubBTntext{
  font-family: Futura Md BT;
font-size: 14px;
font-weight: 400;
line-height: 16px;
background-color: #fff7ef !important;
letter-spacing: 0.05em;
text-align: center;
color: #00000091;
}
.dBGcolor{
  background: linear-gradient(141.89deg, #F548C1 0%, #FEDF79 100%);
border-radius: 15px;
}
.dBGcolorEd{
  border-radius: 15px;
  background: linear-gradient(141.89deg, #8271E3 0%, #46ED8F 100%);

}
.dBGcrled{
  background: linear-gradient(143.1deg, #7D95EF 0%, #E239DB 102.57%);
border-radius: 15px;
}
.Row-section1{
  background-color: #20BFF1;
  border-radius: 10px;
}
.Lisubn{
  height: 1px;
  width: 100%;
  background-color: #D3D3D3;
}
.row-subsection2{
  background-color: #161817;
  border-radius: 10px;
  height: 100% !important;
}
.Row-Subtext{
  font-family: Futura Md BT;
font-size: 18px;
font-weight: 400;
line-height: 23.97px;
text-align: left;
color:#FFFFFFDE ;
}
.Row-ParaSub{
  font-family: Futura;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.05em;
text-align: left;
color: #FFFFFF91;
}
.Row-section3{
  background-color: #B21490;
  border-radius: 10px;
}
/* collaboration page css */
.bg-headerEd{
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url('../img/profile-bg.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
/*  */
.collab-heading{
  font-family: Futura Hv BT;
  font-size: 44px;
  font-weight: 400;
  line-height: 59.94px;
  color: rgba(255, 255, 255, 0.87);
} 
.sub-heading{
  font-family: Futura Hv BT;
  font-size: 28px;
  font-weight: 400;
  line-height: 38.36px;
  color: rgba(255, 255, 255, 0.87);
}
.collab-para{
  font-family: Futura Md BT;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.57);
}
.collab-paraed{
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #3D3D3D;
}
.btn-collab{
  font-family: Futura Md BT;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.58px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}
.section-heading{
  font-family: Futura Hv BT;
  font-size: 30px;
  font-weight: 400;
  line-height: 43.15px;
  color: rgba(255, 255, 255, 0.87);
}
@media(max-width:400px){
  .section-heading{
      font-family: Futura Hv BT;
      font-size: 25px;
      font-weight: 400;
      line-height: 43.15px;
      color: rgba(255, 255, 255, 0.87);
  }
}
.mold-bg{
  background: rgba(22, 24, 23, 1) !important;
}
.manage-heading{
  font-family: Futura Hv BT;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.77px;
  color: rgba(255, 255, 255, 0.87);
}
.manage-heading span{
  font-family: Futura Hv BT;
  font-size: 30px;
  font-weight: 600;
  
}
.bg-faq{
  background: rgba(30, 32, 31, 1);
  border-radius: 5px;
}
.accordion-button::after{
  background-image: url('../img/icongreater.svg') !important;
  color: #FFFFFF !important;
  width: 10px !important;
  height: 10px !important;
 padding-block: 10px;
  background-size: 10px !important;
  /* transform: rotate(-90deg); */
} 
.accordion-button:not(.collapsed)::after{
  color: white !important;
  /* transform: rotate(180deg) !important; */
}
@media(max-width:576px){
  .bg-headerEd{
    height: auto;
}
  .collab-heading{
      font-size: 33px;
      line-height: 36px;
  }
}
.BBTNTEXxt{
font-family: Futura Md BT;
font-size: 15px;
font-weight: 400;
line-height: 21.58px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;
}
/* Cleaning project finance css */
.top-sectcleaning  {
  position: relative;
  background-image: url('../img/claning-prox.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.CleaningHead{
font-family: Futura Hv BT;
font-size: 26px;
font-weight: 400;
line-height: 30px;
color: #FFFFFF;
}
.Clean-text{
font-family: Futura Md BT;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF;
}
/* Affiliate css */
.BTNborder{
  border: 1px solid #0dcaf0;
}
.BTNborder:hover{
  border: 1px solid #0dcaf0;
}
.AffilText{
  font-family: Futura Md BT;
font-size: 45px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFFDE;
}
.AfliatePara{
font-family: Futura Md BT;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFF91;
}