@font-face {
    font-family: 'Futura Md BT';
    src: url('../Futura-Md-BT-Font/FutuBd.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuBdIt.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuMd.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FutuMdIt.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaBoldBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaBoldItalicBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaMediumBT.ttf') format('ttf'),
        url('../Futura-Md-BT-Font/FuturaMediumItalicBT.ttf') format('ttf'),

        /* Add more src declarations for other font formats if necessary */
}

@font-face {
    font-family: 'Futura Hv BT';
    src: url('../Futura-Hv-BT/FutuHv.ttf') format('ttf'),
        url('../Futura-Hv-BT/FutuHvIt.ttf') format('ttf'),
        url('../Futura-Hv-BT/FuturaHeavyBT.ttf') format('ttf'),
        url('../Futura-Hv-BT/FuturaHeavyItalicBT.ttf') format('ttf'),
        url('../Futura-Hv-BT/futurahi.ttf') format('ttf'),


}
 

body {
    background-color: #161817;

}


/* -------------------------- HEADER Start -------------------------- */

.nav-link:hover{
    color: white;
}
.my-nav{
    z-index: 3000 !important;
}
@media (max-width:992px){
    .my-nav{
        background: #1e201f;
    }
}
.hero__img {
    background-image: url('../img/Artboard\ 2\ 2.png');
    background-size: cover;
    object-fit: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Background Image */

.index__bg__img {
    background-image: url(../img/bg-img.png);
    background-repeat: no-repeat;
    background-position: left;
    object-fit: cover;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 83%;
    top: 0;
}


/* -------------------------- HEADER End -------------------------- */

/* -------------------------- MAIN --------------------------  */

/* ---------- Banner 1 Start ---------- */

.banner__1 {
    position: relative;
    z-index: 1;
}

/* -------Banner 1 Row ------- */

/* --- Left column --- */

/* logo */

.main__logo img {
    width: 200px;
}

/* content */

.banner__1__content h6 {
    font-size: 16px;
    font-weight: 400;
    font-family: Futura Hv BT;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: #9b9c9b;
    position: relative;
    z-index: 1;
}

.banner__1__content h1 {
    font-family: Futura Hv BT;
    font-size: 50px;
    font-weight: 700;
    line-height: 69px;
    line-height: 69px;
    background: linear-gradient(180deg, #FC467D -48.19%, #20BFF1 82.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* button */

.banner__button {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05em;
    font-family: Futura Md BT;
    color: white;
    background-color: #20BFF1;
    padding: 15px 28px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #20BFF1;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 1;
}


/* --- Right Column --- */

/* image */

.carousel__img {
    height: 700px !important;
    border-radius: 20px;
    object-fit: cover;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    /* box-shadow: -1px 1px 22px #375559; */
}


/* Positioned Search Container of Banner 1 */

.search__container {
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin-top: -16rem;
}

.search__input {
    width: 50%;
    height: 30px;
    padding: 30px 50px;
    border: 1px solid #b9bab9;
    opacity: 0.8;
    background-color: #1e201f;
    border-radius: 20px 0 0 20px;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #e1e2e2;
}

.location__input {
    width: 51%;
    height: 30px;
    padding: 30px 87px;
    border: 1px solid #b9bab9;
    background-color: #1e201f;
    opacity: 0.8;
    border-radius: 0 20px 20px 0;
    margin-right: 23px;
    position: relative;
}

.location__input::placeholder {
    font-weight: 400;
    font-size: 18px;
    font-family: Futura Md BT;
    color: #e1e2e2 !important;
}

.location__icon {
    position: absolute;
    left: 53%;
    font-weight: 400;
    font-size: 18px;
    color: #e5e5e4;
    z-index: 1;
}

.location__icon i {
    color: #e5e5e4 !important;
}

.search__button {
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background: #20BFF1;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.Hrlined{
    border: 1px solid #D3D3D3;
}

.search__input,
.location__input {
    color: #e1e2e2;
}
.BTNMrgin{
    margin-top: -4px !important;
}


/* ---------- Banner 1 End ---------- */
.main-section2 {
    background-color: #1e201f;
}

.LANDING {
    color: white;
    font-family: Futura Hv BT;
    font-size: 30px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;


}

.EEB_TEXT {
    color: #20BFF1;
}

.PAraEEB {
    color: #9e9f9f;
    font-family: Futura Md BT;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: left;    

}

.IMAGRSD {
    background: #20BFF1;
    width: 20%;
    /* padding-right: 40px; */
    padding: 10px;
    border-radius: 10px;
}

.BGCOLOR {
    background-color: #161817 !important;
}

.FEATURED {
    font-family: Futura Hv BT;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #FFFFFFDE;
}

.NEESTEXT {
    font-family: Futura Md BT;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFFDE;
}

.SEction_3_text {
    font-family: Futura Md BT;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    color: #FFFFFFDE;
}

.image-container {
    background-image: url('../img/first.png');
    /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    /* Ensures the background covers the entire viewport */
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Matrl{
    width: 50%;
}
@media(max-width:340px){
    .Matrl{
        width: auto;
    }
    .magrind{
        margin-bottom: 30px;
    }
}
.nav-text a{
    font-family: Futura;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 10%;
    line-height: 24px;
    color: #a3a6a7;
    background: transparent !important;  
}
.mask-container {
    background-image: url('../img/Group\ 65.png');
    /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    /* Ensures the background covers the entire viewport */
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlaed {
    background-image: url('../img/thirdrde.png');
    /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    /* Ensures the background covers the entire viewport */
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Section2rd {
    background-image: url('../img/seoch2.png');
    /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    /* Ensures the background covers the entire viewport */
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3rd {
    background-image: url('../img/snd3.png');
    /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    /* Ensures the background covers the entire viewport */
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section4rd {
    background-image: url('../img/snd4.png');
    /* Replace 'your-image.jpg' with your image file */
    background-size: cover;
    background-position: 100% 100%;
    height: 50vh;
    /* Ensures the background covers the entire viewport */
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.feature_card {
    border-radius: 12px;
    position: relative;
    height: 290px;
}

.feature_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.500); */
}

.feature_card:hover:before {
    border-radius: 12px;
    background-color: rgba(175, 54, 129, 0.479);
}
.QbtnNa{
    font-family: Futura Md BT;
font-size: 16px;
font-weight: 400;
/* letter-spacing: 10%; */
line-height: 20px;
text-align: left;
color: white;
}
.BBTNTEXXT {
    font-family: Futura Md BT;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 10px;
    letter-spacing: 0.1em;
    color: #FFFFFFDE;
    border-radius: 10px;
}

/* Add any other styles for child elements here */

.card {
    border: none !important;
    background-color: #1e201f !important;
    border-radius: 12px !important;
    height: 100% !important;
}

.Text-rd {
    font-family: Futura Hv BT;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFFDE;
}

.container-bgimg {
    background-color: #1e201f;
}

/* .h-nav{
    height: 40px;
}
.bg-head{
    background-color: #20BFF1 !important;  
    
}
.bg-uperspace{
    background-color: #20BFF1 !important;

}
.line{
    border-bottom: 3px solid gray;
}
.btn-service{
    background-color: #20BFF1;
}
.section-footer{
    background-color: #161817;
} */
.footerText {
    font-family: Futura Md BT;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFFDE;
}

.footer-para {
    font-family: Futura;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFFDE;
}

.favtextT {
    color: #FFFFFF91;
    font-family: Futura Md BT;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.main-baner4 {
    background-image: url('../img/Group\ 61.png');
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

.bannersection4 h3 {
    font-family: Futura Md BT;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.25em;
    text-align: center;
    color: #FFFFFFDE;
}

.BTNbanner {
    font-family: Futura Md BT;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1em;
}

.Banersec3 {
    font-family: Futura Md BT;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFDE;
    
}

.icon_styling {
    width: 20%;
}

.icon_styling img {
    width: 40px;
}

/* row 1 left column row 1 */

.communicat_with_us {
    display: flex;
}

.communicat_with_us a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #18BEF0;
    cursor: pointer;
    height: 110px;
}
.communicat_contact a {
    text-decoration: none;
    color: #000000DE;
    background-color: white;
    cursor: pointer;
    height: 110px;
}

.communicat_with_us a:hover {
    background: #B21490;
    color: rgba(255, 255, 255, 0.87);
    transition: 0.3s;
}

.contact_us_card {
    background: #1E201F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.contact_card_title {
    font-family: Futura  Hv BT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    color:#FFFFFFDE ;  
}

.Contact_card_text {
    font-family: Futura;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
   color:#FFFFFFDE ;
    
}
.Contact_card_TEXT {
    font-family: Futura;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
   color:#FFFFFFDE ;  
}
@media(max-width:362px){
    .Contact_card_TEXT {
        font-family: Futura;
        font-size: 13px;
        font-weight: 300;
        line-height: 23px;
       color:#FFFFFFDE ;  
    }
}
.PNgicons{
    background-color:#18BEF0 ;
    border-radius: 10px;
}
.contact_card_Title {
    font-family: Futura  Hv BT;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    color:#000000DE ;  
}

.Contact_card_Text {
    font-family: Futura;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
   color:#000000DE ;
    
}

/* Category-section start */
.Category-section{
    background-image: url('../img/categorymain.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    width: 100%;
    height: 100vh !important;
}
.Category-section2{
    display: flex;
   justify-content: flex-start;
   align-items: center;
}
.catory-heading{
    font-family: Futura Md BT;
font-size: 45px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0.1em;
text-align: left;
color: #FFFFFFDE;
}
.IMG-ovrlod{
    margin-top: -5.5rem !important;
    margin-bottom: 3rem;
}
@media (max-width:350px){
    .IMG-ovrlod{
        margin-top: -5.5rem !important;
        margin-bottom: 1rem;
    }
}
.Catogry-para{
    color: #FFFFFF91;
    font-family: Futura Md BT;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.1em;
}
.my-card-custom{
    background-color: #161817 !important;
}
.Category-section2{
    height: 60%;
}


.Hardworking{
    background-color:#1e201f ;
}
.Hardwork{
font-family: Futura Hv BT;
font-size: 25px;
font-weight: 400;
line-height: 30px;
text-align: center;
color: #FFFFFFDE;
}


/* sign in page style  */


    .nav-anchor {
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
    }

    .anchor-signUpBtn {
        color: #775da6;
    }

    .right-panel {
        background-color: #161817;
    }

    .my-forum-card {
        background-color: #1e201f;
        width: 100%;
        height: fit-content;
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    @media (min-width:768px) {
        .my-forum-card {
            width: 100%;
        }
    }

    @media (min-width:992px) {
        .my-forum-card {
            width: 55% !important;
            /* margin-top: 20px !important; */
        }
    }

    .my-formInputs {
        background-color: #161817;
        border: #161817;
        padding-block: 10px;


    }

    .my-formInputs:focus {
        background-color: #161817;
        border: #161817;
        padding-block: 10px;
        color: #fff;


    }

    .my-formInputs::placeholder {
        color: #fff;
        font-size: 12px;
    }

    .forgot-password a {
        color: #775da6 !important;
        font-size: 14px;
    }

    .my-sign-inBtn {
        background-color: #1e7eb7;
        color: #fff;
        width: 100%;
    }
    .my-sign-inBtn:hover{
        background-color: #1e7eb7;
        color: #fff;

    }

    .or-and-lines {
        position: relative;
    }

    .or-and-lines::before {
        position: absolute;
        content: "";
        width: 40%;
        height: 1px;
        background-color: #fff;
        left: 5px;
        bottom: 8px;
    }

    .or-and-lines::after {
        position: absolute;
        content: "";
        width: 40%;
        height: 1px;
        background-color: #fff;
        right: 5px;
        bottom: 8px;
    }

    .mygoogle-btn {
        padding: 10px;
        border-radius: 5px;
        background-color: #161817;
        width: 100%;

    }

    .mygoogle-btn:hover {
        background-color: #161817;
    }

    .left-panel-img {
        height: 100%;
        width: 100%;
    }

    .privacyandterms {
        color: #775da6;
        text-decoration: none;
    }
    .footer-text{
        font-size: 14px;
    }

    /* sign up styling */
    .pass-strength-detect{
        width: 100%;
        height: 3px;
        background-color: #18BEF0;
        border-radius: 3px;
        margin-block: 10px;
    }
    .my-password-input{
        position: relative !important;
    }
    .password-hide-svg{
        position: absolute;
        right: 20px ;
        bottom: 10px;

    }
    .password-hide-svg svg{
        cursor: pointer;
    }
    .input{
        color: #fff !important;
    }
    
    /* Hide the default checkbox */
.form-below-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 22px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin: 5px 10px 0 0;
}

/* Custom design for the checkbox */
.form-below-checkbox:checked {
    background-color: #775da6;
    border-color: #775da6;
}

/* Custom checkmark */
.form-below-checkbox:checked::before {
    content: '\2713'; /* Checkmark Unicode character */
    display: block;
    width: 16px;
    height: 16px;
    color: #fff; /* Color of the checkmark */
    text-align: center;
    line-height: 16px;
}
.terms-checkbox{
    font-size: 12px;
    font-weight: 500;
}

/* forgot password style  */
.forgot-pass-p{
    color: #5a5a5a;
    font-weight: 600;
    letter-spacing: 1px;
}
.just-remeber-text{
    color: #9e9f9f; 
    font-weight: 600;
    font-size: 15px;
}
.just-remeber-text a{
    font-weight: 600;
}

/* profile page css */

.bagcolor{
    background-color:#1E201F !important;
}
.bg-header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url('../img/profile-bg.png') no-repeat center;;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100vh;
}

.profile{
    height: 90vh;
    display: flex;
    align-items: center;
}  
.profile h1{
    font-family: Futura Hv BT;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFFDE;
    line-height: 69px;
    letter-spacing: 10%;
}
.profile-img{
    position: absolute;
    top: -100%;
    left: 38%;
}
.profile-icon{
    position: absolute;
    top: 73%;
    left:76%;
    font-size: 24px;
    background: #9947E280;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 4px;

}
.input-icon{
    position: absolute;
    top: 58%;
    left: 92%;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    z-index: 10px;
}
.form-head{
    font-family: Futura Hv BT;
    font-size: 25px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFFDE;

}
.form-label{
    font-family: Futura Md BT;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFFDE;
}
.formed input{
    background-color: #000000 !important;
}
.form input::placeholder{
    font-family: Futura Md BT;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF91;
}
.formed input{
    /* background-color: #000000 !important; */
}
.formed textarea::placeholder, .formed input::placeholder{
    font-family: Futura Md BT;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF91;
}

#dob{
    color: #FFFFFF91;
}
.birth:hover{
   /* display: none; */
}
.form-select{
    background-color: #000000;
    color:#FFFFFF91;
}
.form-text{
    font-family: Futura Md BT;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FFFFFF91;
}
@media(max-width:768px){
    .profile-img{
        left: 27%;
    }
}
@media(max-width:500px){
    .profile-img{
        left: 20%;
    }
}
@media(max-width:400px){
    .bg-header{
        height: 80vh;
    }
    .profile{
        height: 60vh;
    }
    .profile-img img{
        width: 160px;
    }
    .profile-img{
        left: 21%;
        top: -87%;
    }
    .input-icon{
        left: 85%;
    }
}
/* donation page css */
